<div class="mt-5">
    <form>
  <div class="form-group">
    <label for="search-input">nhập vào đi dịt con mẹ mày</label>
    <input type="text " class="form-control" id="search-input"  placeholder="nhập đi dcmm">
  </div>

  <button type="submit" class="btn btn-primary">bấm vào đây</button>
</form>
</div>